<section id="footer-info">
    <div class="container">
        <div class="footer-container row">
            <div class="six columns">
                <p>
                    <strong>edpratt.github.io</strong>
                    <!--  -->

                    <!-- <a href="tel:7682149581124512">3245.q34.qw4t</a>
                    <br />
                    <a href="mailto:alskdgnar907q3485@gmail.com">q498t4252@gmail.com</a> -->
                </p>
            </div>
            <div class="six columns">
            <!--
            Legality ??? .. .
                <p>
                    <strong>Licenses</strong>
                    <br />
                    MA HIC #298374512
                    <br />
                    MA CSL #q429uo1
                </p>
            -->
            </div>
        </div>
    </div>
</section>
