<section id="footer-info">
    <div class="container">
        <div class="footer-container row">
            <div class="six columns">
                <p>
                    <strong>edpratt.github.io</strong>
                    
                    <a href="tel:6172248637">617.224.8637</a>
                    <br />
                    <a href="mailto:epratt8181@gmail.com">epratt8181@gmail.com</a>
                </p>
            </div>
            <div class="six columns">
            <!--
                <p>
                    <strong>Licenses</strong>
                    <br />
                    MA HIC #100046
                    <br />
                    MA CSL #033706
                </p>
            -->
            </div>
        </div>
    </div>
</section>
