<div class="header-image" >
    <h1>edpratt.github.io</h1>
    
    <!--<h2 class="subheader">The Window, Roofing, and Siding Pros</h2>

    <h3 class="phone_number">
        Call from 9am&mdash;9pm for a free estimate: <a href="tel:17813264144">781.326.4144</a>
    </h3>
    -->
</div>
<div class="container">
    <nav class="navbar">
        <ul class="navbar-list">
            <li><a href="/">Home</a></li>
            
            <li {% if page.page_name == 'projects' %} class="active" {% endif %}><a href="/projects">Projects</a></li>
        
            
            <li {% if page.page_name == 'contact' %} class="active" {% endif %}><a href="/contact">Contact</a></li>
            <!--
            <li {% if page.page_name == 'windows' %} class="active" {% endif %}><a href="/windows">Windows</a></li>
            <li {% if page.page_name == 'gutters' %} class="active" {% endif %}><a href="/gutters">Gutters</a></li>
            <li {% if page.page_name == 'about' %} class="active" {% endif %}><a href="/about">About Us</a></li>
            -->
        </ul>
    </nav>
</div>
